/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 kwi 2019, 13:11:31
    Author     : Zbyszek
*/
body {
    min-height: auto !important;
    height: auto !important;
}
#createMap {
    margin-top: 20px;
    border-radius: 5px;
}